<div class="form-horizontal">
    <fieldset>
        <legend>Book Details</legend>
        <div class="control-group">
            <label class="control-label">NAME</label>
            <div class="controls">
                <input type="text" disabled class="span3" ng-model="book.name" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">AUTHER</label>
            <div class="controls">
                 <input type="text" disabled class="span3" ng-model="book.auther" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">PRICE</label>
            <div class="controls">
                <input type="text" disabled class="span3" ng-model="book.price" />
            </div>
        </div>
        <div class="control-group">
            
            <div class="controls">
               <a class="btn btn-warning" href="#/demo8">GoBack</a>
            </div>
        </div>
    </fieldset>
</div>
