<!DOCTYPE html>
<html ng-app xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .calc ul li {
            display:inline-block;
        }
        .num {
            height:50px;
            width:50px;
            margin-bottom:10px;
        }
    </style>
</head>
<body class="container">
    <header>
        <nav class="navbar row">
            <div class="navbar-inner">
                <span class="brand"><a href="/">E-Library</a></span>
                <ul class="nav">
                    <li><a href="#/home">Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#/about">About</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="brand">JUMPSTART</li>
                    <li class="divider-vertical"></li>
                    <li><a href="#/login"><i class="icon-user"></i>MyAcount</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="row">
        <div class="span2 well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">TASKS</li>
                <li><a href="#">Demo 2</a></li>
            </ul>
        </div>
        <div class="span9 well calc" ng-controller="calcCtrl">
            <input class="span6" type="text" ng-model="displayText" />
            <span class="span4">
                <ul class="unstyled">
                    <li class="span1" ng-repeat="num in numbers"><button class="btn num" ng-click="input(num)">{{num}}</button></li>
                    <li class="span1" ><button class="btn num" ng-click="clear()">C</button></li>
                    <li class="span1" ><button class="btn num" ng-click="evaluate()">=</button></li>
                </ul>
            </span>
            <span class="span2">
                <ul class="unstyled">
                    <li class="span1" ng-repeat="op in operations">
                        <button class="btn num" ng-click="op.evaluate()">{{op.op}}</button>
                    </li>
                </ul>
            </span>
            <span class="span2"></span>
        </div>
    </section>
    <footer>
    </footer>

    <!-- Scripts -->
   <script src="../../Scripts/jquery-2.0.3.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/jumpstart/homeCtrl.js"></script>
    <script src="src/calcCtrl.js"></script>
</body>
</html>
