<!DOCTYPE html>
<html ng-app xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .colName {
            cursor:pointer;
        }
    </style>
</head>
<body class="container">
    <header>
        <nav class="navbar row">
            <div class="navbar-inner">
                <span class="brand"><a href="#">E-Library</a></span>
                <ul class="nav">
                    <li><a href="#/home">Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#/about">About</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="brand">JUMPSTART</li>
                    <li class="divider-vertical"></li>
                    <li><a href="#/login"><i class="icon-user"></i>MyAcount</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="row">
        <div class="span2 well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">TASKS</li>
                <li><a href="#">First Demo</a></li>
            </ul>
        </div>
        <div class="span9 well" ng-controller="BookLibController">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th><a class="colName" ng-click="updateOrderBy('name')">Name</a> </th>
                        <th><a class="colName" ng-click="updateOrderBy('auther')">Auther</a> </th>
                        <th><a class="colName" ng-click="updateOrderBy('price')">Price(INR)</a> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in bookList|orderBy:orderProp:reverse">
                        <td>{{book.name}}</td>
                        <td>{{book.auther}}</td>
                        <td>{{book.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer>
    </footer>

    <!-- Scripts -->
    <script src="/Scripts/jquery-2.0.3.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="src/routingTest.js"></script>
</body>
</html>
