<style>
    .colName {
        cursor: pointer;
    }
</style>
<div class="form-horizontal">
    <div class="control-group"><a class="btn btn-info" ng-click="loadBooks()">Load Books</a></div>
    <div class="control-group">
        Filter :
            <input type="text" ng-model="hello" placeholder="filter by string" />
    </div>

</div>
<hr />
<table class=" table table-striped">
    <thead>
        <tr>
            <th><a class="colName" ng-click="updateOrderBy('name')">Name</a> </th>
            <th><a class="colName" ng-click="updateOrderBy('auther')">Auther</a> </th>
            <th><a class="colName" ng-click="updateOrderBy('price')">Price(INR)</a> </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in bookList|filter:hello|orderBy:orderProp:reverse">
            <td>{{book.name}}</td>
            <td>{{book.auther}}</td>
            <td>{{book.price}}</td>
        </tr>
    </tbody>
</table>
